@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700&family=Bellefair&display=swap');

:root {
  --ff-p: 'Bellefair', serif;
  --ff-s: 'Barlow Condensed', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  background-color: #000;
}
ul,
li {
  list-style: none;
}

html{
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    // margin: 6rem 0;
    background: #242b35;
  }

  &::-webkit-scrollbar-thumb {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
}